@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
:root{
  --a:0
  --top:0px
}
body{
  background-color: rgb(26, 26, 26);
}
.left{
width: 25vw;
}

.right{
  width: 75vw;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.logo{
  
  height: 90;
  width: 200px;

}
.redirect{
  cursor: pointer;
}
.home{
  padding: 10px;
}
.home ul li{
  width: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 17px;
}
.songList{
  background-color: rgb(14, 12, 12);
  overflow:auto;
  max-height: 50vh;
}
.songList ul{
  padding: 5px 12px;
  display: list-item;
  list-style-type: none;
}
.songList ul li{  
  margin: 5px 0px;
  border: 0.1px solid rgb(141, 141, 141);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 8px 4px;
}
.song-Info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.songTitle{
  font-size: 12px;
  font-weight: 600;
}
.artistName{
  font-size: 9px;
  font-weight: 500;
  color: gray;
}
.playNow{
  font-weight: 500;
  font-size: 10px;

  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg_black{
  background-color: #121212;
  color: white;
}
.invert{
  filter: invert(1);
}
.library{
  position: relative;
  min-height: 70vh;
}
.library p{
  
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 17px;
}
.footer{
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  font-size: 10px;
  text-align:start;
  font-weight: 200;
}
.footer a{
  color: rgb(165, 162, 162);
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#mail{
  cursor: pointer;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.Signup{
  color: rgb(199, 190, 190);
  background-color: black;
  border: 1px solid black;
  padding: 2px;
  width: 98px;
  height: 48px;
  border-radius: 29px;
  text-align: center;
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
}
.Signup:hover{
font-size: 1.05rem;
color: white;
}
.Login{
  cursor: pointer;
  color: black;
  font-size: medium;
  background-color: white;
  padding: 2px;
  width: 98px;
  height: 48px;
  border-radius: 29px;
  text-align: center;
  font-weight: 500;
  border: none;
}
.Login:hover{
  font-size: 1.05rem;
  font-weight: 700;
  width: 99px;
  height: 48px;
}
.spotifyPlaylists{
  max-height: 78vh;
  overflow-y:scroll;
}
.cardCont{
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

}
.card{
width: 200px;
display: flex;
gap: 8px;
flex-wrap: wrap;
align-items: center;
background-color: rgb(42, 42, 42);
position: relative;
padding: 10px;
border-radius: 6px;
font-size: small;
font-weight: bold;
--a:0;
}
.card:hover{
  background-color: black;
  cursor: pointer;
  --a:1;
}
.card p{
  font-weight: 400;
  color: rgb(174, 173, 173);
}
.card img{
  border-radius: 6px;
  width: 100%;
  object-fit:contain;
}
.play{
cursor: pointer;
position: absolute;
top: 135px;
right: 15px;
opacity: var(--a);
transition: all 0.3s ease-out;
}

.playbar{
  bottom: 60px;
  position: relative;
  background-color: rgba(185, 183, 183, 0.854);
  border-radius: 12px;
  margin: 0px 7px;
  width: 99.3%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seekbar{
  cursor: pointer;
  border-radius: 12px;
  position: absolute;
  align-self: last baseline;
  height: 4px;
  width: 98.8%;
  background-color: rgb(255, 255, 255);
}
.circle{
  cursor: pointer;
  position: relative;
  align-self: first baseline;
  height: 12px;
  width: 12px;
  bottom: 4px;
  border-radius: 13px;
  background-color: #ffffff;
  transition: left 0.7s;
}
.playbarInfo{
  position: absolute;
  border: none;
  width: 98%;
  height: 5%;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timevol{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-direction: column;
}
.volumeicon{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
input{
  width: 120px;
  cursor: pointer;
}
.songBtn{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.songBtn img{
  cursor: pointer;}
.menu{
  display: none;
}
.cross{
  display: none;
}


@media (max-width: 1400px)
{
  .left{
  position: absolute;
  z-index: 1;
  left: -100%;
  transition: all 0.4s ease-in-out;
  width: 430px;
  background-color: #292929;
  margin-top: 0px;
}
.right{
  width: 100vw;
  margin-top: 0px;
}
.playbar{
  
  justify-content: center;
  height: 16vh;
  width: 98vw;
  position: fixed;
  bottom: 20px;
}
.playbarInfo{
  padding: 0px 0px;
  font-size: smaller;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.seekbar{
  width: 98%;
}
.menu{
  display: block;
  cursor: pointer;
}
.cross{
  position: absolute;
  z-index: 1;
  display: block;
  right: 30px;
  top: 22px;
}
.cardCont{
  justify-content: center;
}
.spotifyPlaylists{
  overflow-y:scroll;
}
.card{
  width: 250px;
  gap: 10px;
  padding: 12px;
  border-radius: 8px;
  font-size: medium;
}
.spotifyPlaylists{
  max-height: 68vh;
}
  .play{
    cursor: pointer;
    position: absolute;
    top: 175px;
    right: 18px;
    transition: all 0.3s ease-out;
    }
}

@media (max-width: 550px)
{
  .left{
    width: 100vw;
  }
  .spotifyPlaylists{
    max-height: 67vh;
  }
  .playbar{
    justify-content: center;
    height: 14vh;
    width: 98vw;
    position: fixed;
    bottom: 25px;
    gap: 1px;
  }
}
@media (max-height: 740px)
{
  .playbar{
    height: 18vh;
    width: 98vw;
    position: fixed;
    bottom: 25px;
    gap: 1px;
  }
}
@media (max-height: 740px)
{
  .playbar{
    height: 28vh;
    width: 98vw;
    position: fixed;
    bottom: 25px;
    gap: 1px;
  }
}